# Primeiros Exemplos

In [5]:
print('Primeiro programa')
1 \
 +2
help(print)

Primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
1 + 2 + 3
4 + 5 + 6

15

In [7]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [23]:
print(True)
print(False)
print(1.2+1)
print('Aqui eu falo na minha língua!')
print("Tb funciona.")
print('Você é ' + 3 * 'muito ' + 'legal!')
#print(3 + '3') -> ambiguídade
print([1,2,3])
print({'nome':'Predro', 'idade':22})
print(None)

True
False
2.2
Aqui eu falo na minha língua!
Tb funciona.
Você é muito muito muito legal!
[1, 2, 3]
{'nome': 'Predro', 'idade': 22}
None

# Variáveis

In [28]:
a = 10
b = 5.2
print(a + b)

a = 'Agora sou uma string!'
print (a)
print (b)

#print(a + b)

15.2
Agora sou uma string!
5.2

# Comentários

In [36]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A idéia é calcular o 
quanto vai sobrar no 
final do mes!
"""
print (salario - despesas)

#print ('Fim')
print('Fim de verdade') # comentário aqui tb vale!

'''
A idéia é calcular o 
quanto vai sobrar no 
final do mes!
'''
print('Agora Sim o Fim de verdade') # comentário aqui tb vale!

994.25
Fim de verdade
Agora Sim o Fim de verdade

# Operadores Aritméticos

In [44]:
print(2+3)
print(4-7)
print(2*5.3)
print(9.4 / 3)
print(9.4 // 3) # Divisão inteira
print(2 ** 8) # Exponenciação
print(10 % 3) # Módulo

a=12
b=a
print (a+b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [57]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2
x=(salario / 100)
y=(despesas / x)
z=round(y)
print(z)

71

# Operadores Relacionais

In [64]:
3>4
4>=3
1<2
3<=1
3!=2
3==3
2==3
2=='2'

False

# Operadores de Atribuição

In [78]:
a=3
a=a+7
print(a)

# a=5
a +=5 # a = a + 5
print(a)

a-=3
print(a)

a*=2
print(a)

a /= 4
print(a)

a %=4
print(a)

a **=8
print(a)

a //=256
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [11]:
True or False
7!=3 and 2 > 3

# Tabela verdade e And
True and True
True and False
False and True
False and False

# Tabela verdade e OR
True or True
True or False
False or True
False or False
True or True or False or True or True or True

# Tabela verdade do XOR

True != True
True != False
False != True
False != False

# Operador de Negação (unário)

not True
not False

not 0
not 1
not not -1
not not True

# Cuidado!
True & False
False | True
True ^ False

# AND Bit-a-Bit
#3 = 11 
#2 = 10
#_ = 10
3 & 2

# OR Bit-a-Bit
#3 = 11 
#2 = 10
#_ = 11
3 | 2

# XOR Bit-a-Bit
#3 = 11 
#2 = 10
#_ = 01
3 ^ 2

# Um pouco de realidade
saldo = 1000
salario = 4000
despesa = 2967

meta = saldo > 0 and salario - despesa >= 0.2 * salario
meta

True

# Desafio Operadores Lógicos

# Os trabalhos

In [19]:
trabalho_terca = False
trabalho_quinta = False

"""
- Confirmando os 2: TV 50' + Sorvete
- Confirmando apenas 1: TV 32' + Sorvete
- Nenhum confirmando: Fica em casa

"""
tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print("tv50={} tv32={} sorvete={} saudavel{}"
     .format(tv_50, tv_32, sorvete, mais_saudavel))

"{1}, {2} = {0}".format(1, False, 'resultado')

tv50=False tv32=False sorvete=False saudavelTrue

'False, resultado = 1'

# Operadores Unários

In [35]:
a=3
# a++
# a += 1
# a
# a--
++a
++a
a = -a
+a

not 0
not 1
not -3
not False
not not True

True

# Operadores Ternários

In [44]:
esta_chuvendo = False
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])

print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas secas.
Hoje estou com as roupas secas.

# Mais Operadores

In [5]:
# Operador de Membro
lista = {1, 2, 3, 'Ana', 'Carla'}
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True

# Builtins

In [15]:
# type()
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

#__builtins__.help(__builtins__.dir)
# dir()

1 + 2
dir()
dir(__builtins__)

nome = 'João Max Boico'
type (nome)
__builtins__.len(nome)

3.3333333333333335

14

# Conversão de Tipos

In [25]:
a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

print(2 + float('3.4'))

<class 'int'>
<class 'str'>
5
23
5.4

# Coerção Automática

In [38]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [59]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [71]:
1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)


1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)
dir()

['Decimal',
 'In',
 'Out',
 '_',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_20',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_6',
 '_60',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_7',
 '_70',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'decimal',
 'exit',
 'get_ipython',
 'getcontext',
 'lista',
 'lista_a',
 'lista_b',
 'lista_c',
 'nome',
 'quit',
 'x',
 'y',
 'z']

# Tipo String

In [18]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'P'

# 'marca d'àgua'
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto com múltiplas
... linhas"""
doc
print('Texto com múltiplas\n\t... linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

Texto com múltiplas
	... linhas
Texto com múltiplas
... linhas

'Também é possível\n... com 3 aspas simples'

In [39]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]

nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

'aluaP anA'

In [56]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase
frase = frase.upper()
frase

frase.split()
frase.split('E')

# dir(str)
# help(str.center)

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

In [67]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)
# https://www.python-curse.eu;python3_magic_methods.php

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Listas

In [83]:
lista = []
type (lista)
dir(lista)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5)
nova_lista
nova_lista.reverse()
nova_lista

['Bia', 'Ana', 1]

In [95]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

1

In [106]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista
del lista [1:]
lista

['Ana']

# Tuplas

In [125]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tupla)
tupla = ('um')
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
# tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('Azul')
len(cores)

4

# Dicionários

In [148]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
# pessoa['tags']
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')

pessoa.get('tags', [])

[]

In [160]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')
pessoa
pessoa.update({'idade': 40, 'Sexo': 'M'})
pessoa
del pessoa['cursos']
pessoa
pessoa.clear()
pessoa

{}

# Conjuntos

In [189]:
a = {1, 2, 3}
type(a)
# a[0]
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operacoes
c1= {1, 2}
c2= {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1, 2, 3} - {2}
c1 - c2
c1 -= {2}
c1

{'o', 'd', 'r', 'c', '3'}
True True

{1, 3}

# Interpolação

In [210]:
from string import Template

nome, idade = 'Ana', 30

print('Nome: %s Idade: %d'  % (nome, idade)) # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade)) # python < 3.6
print(f'Nome: {nome} Idade: {idade}') # python >= 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30